body {
	background-color: #e3e3e3;
	margin: 0px;
}

table {
	margin: 10px;
	clear: both;
	width: 80%;
	border-collapse: collapse;
	table-layout: auto;
	background-color: #ced0f0;
	border-bottom: 3px solid #ced0f0;
	border-left: 3px solid #ced0f0;
	border-right: 3px solid #ced0f0;
	float: left;
}

table thead th {
	padding: 3px 20px 3px 10px;
	border: 1px solid #ced0f0;
	font-weight: bold;
	cursor: pointer;
	*cursor: hand;
}

table td {
	padding: 3px 10px;
	text-align: left;
	border-left: 1px solid #ced0f0;
	border-right: 1px solid #ced0f0;
}

input#search {
	position: fixed;
	padding: 2px 20px 2px 2px;
	top:10px;
	right: 10px;
	font: 13pt sans-serif;
	background: white url('search.png') no-repeat center right;
	border: 2px solid #ced0f0;
}

.sorting_asc {
	background: url('asc_sel.png') no-repeat center right;
}

.sorting_desc {
	background: url('desc_sel.png') no-repeat center right;
}

.sorting {
	background: url('unsel.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('sort_desc_disabled.png') no-repeat center right;
}

tr.odd {
	background-color: #E2E4FF;
}

tr.even {
	background-color: white;
}

tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

tr.even td.sorting_1 {
	background-color: #EAEBFF;
}

tr:hover {
	background-color: #ced0f0;
}

tr:hover td.sorting_1 {
	background-color: #ced0f0;
}
