html {
  font-family: 'Droid Sans', sans-serif;
  font-size: 85%;
}

body {
  background-color: #c3c3c3;
  margin: 0px;
}
/*Fancy search box*/
#search {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 204px;
}

input#searchbox {
  position: absolute;
  right: 0px;
  width: 100%;
  padding: 2px 26px 2px 2px;
  font-size: 140%;
  background: white url('images/search.png') no-repeat center right;
  border: 2px solid #ced0f0;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 2px #000;
}

#packlist {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 259px;
}

table#packlisttable {
  margin-bottom: 10px;
  clear: both;
  background: #ced0f0;
  border-spacing: 0;
  table-layout: auto;
  float: left;
  border: 3px solid #ced0f0;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px #000;
}

table thead th {
  padding: 3px 30px 3px 10px;
  border: 1px solid #ced0f0;
  font-weight: bold;
  cursor: pointer;
  *cursor: hand;
}

table td {
  padding: 3px 10px;
  text-align: left;
  border-right: 1px solid #ced0f0;
  border-left: 1px solid #ced0f0;
}

tr.odd {
  background: #E2E4FF;
}

tr.even {
  background: white;
}

tr.odd td.sorting_1 {
  background: #D3D6FF;
}

tr.even td.sorting_1 {
  background: #EAEBFF;
}

tr:last-child {
  border-bottom-width: 2px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

/*Hover effects*/
tr:hover {
  background: #ced0f0;
}

tr:hover td.sorting_1 {
  background: #ced0f0;
}
/*Images for displaying the sort directions*/
.sorting_asc {
  background: url('images/asc_sel.png') no-repeat center right;
}

.sorting_desc {
  background: url('images/desc_sel.png') no-repeat center right;
}

.sorting {
  background: url('images/unsel.png') no-repeat center right;
}

.sorting_asc_disabled {
  background: url('images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
  background: url('images/sort_desc_disabled.png') no-repeat center right;
}

#JABASCIRPT {
  background: #ff0000;
  color: #fff;
  text-align: center;
  width: 100%;
  position: fixed;
  font-size: 400%;
}